.signin-button {
    color: #ffffff;
    border: 1px solid rgba(145, 158, 171, 1);
    background-color: #449FDC;
    font-size: 18px;
    height: 50px;
    border-radius: 15px;
    padding:10px;
    cursor: pointer;
    transition:.3s;
  }

.a-text {
    align-items: center;
  }